@model IEnumerable<UniBiblio.Models.Prenotalibriview>
@{
    Layout = "../Shared/_Layout";
}


<h2>Prenotazione Libro</h2>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Autore</th>
                <th>Anno Pubblicazione</th>
                <th>ISBN</th>
                <th>Biblioteca</th>
                <th>Quantità Disponibile</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model)
            {
                <tr>
                    <td>@libro.Titolo</td>
                    <td>@libro.Autore</td>
                    <td>@libro.AnnoPubblicazione</td>
                    <td>@libro.Isbn</td>
                    <td>@libro.Biblioteca</td>
                    <td>@libro.QuantitaDisponibile</td>
                    <td>
                        <form asp-action="EffettuaPrenotazione" method="post">
                            <input type="hidden" id="id_libro" name="id_libro" value="@libro.IdLibro" />
                            <button type="submit" class="btn btn-primary">Prenota</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nessun libro disponibile al momento.</p>
}