@model UniBiblio.Models.AdminDashboardViewModel
@{
    Layout = "../Shared/_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Pannello Amministratore</h2>

<div style="display: flex; justify-content: flex-end;">
    <a href="@Url.Action("Analytics", "AdminDashboard")" class="btn btn-primary btn-lg" role="button">Ottieni Analytics Mensili</a>
</div>


<h3>Prenotazioni Libri</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id Prenotazione</th>
            <th>Email Utente</th>
            <th>Titolo Libro</th>
            <th>ISBN</th>
            <th>Biblioteca</th>
            <th>Data Prenotazione</th>
            <th>Data Ritiro</th>
            <th>Stato</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LibriReservations)
        {
            <tr>
                <td>@item.IdPrenotazione</td>
                <td>@item.EmailUtente</td>
                <td>@item.TitoloLibro</td>
                <td>@item.Isbn</td>
                <td>@item.NomeBiblioteca</td>
                <td>@item.DataPrenotazione.ToString("dd/MM/yyyy")</td>
                <td>@item.DataRitiro?.ToString("dd/MM/yyyy")</td>
                <td>@item.Stato</td>
                <td>
                    @using (Html.BeginForm("CancellaPrenotazioneLibro", "AdminDashboard", FormMethod.Post))
                    {
                        @Html.Hidden("idPrenotazione", item.IdPrenotazione)
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Sei sicuro di voler cancellare questa prenotazione?');">Cancella</button>
                    }
                  
                    @if (item.Stato == "Prenotato")
                    {
                        @using (Html.BeginForm("ConfermaRitiro", "AdminDashboard", FormMethod.Post))
                        {
                            @Html.Hidden("idPrenotazione", item.IdPrenotazione)
                            <button type="submit" class="btn btn-success btn-sm mt-1" onclick="return confirm('Sei sicuro di voler confermare il ritiro di questa prenotazione?');">Conferma Ritiro</button>
                        }
                    }
                    
                    @if (item.Stato == "Ritirato")
                    {
                        @using (Html.BeginForm("ConfermaRestituzione", "AdminDashboard", FormMethod.Post))
                        {
                            @Html.Hidden("idPrenotazione", item.IdPrenotazione)
                            <button type="submit" class="btn btn-warning btn-sm mt-1" onclick="return confirm('Sei sicuro di voler confermare la restituzione di questa prenotazione?');">Conferma Restituzione</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<h3>Prenotazioni Sale</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id Prenotazione</th>
            <th>Email Utente</th>
            <th>Nome Sala</th>
            <th>Biblioteca</th>
            <th>Data Prenotazione</th>
            <th>Giorno Prenotato</th>
            <th>Ora Inizio</th>
            <th>Ora Fine</th>
            <th>Stato</th>
            <th>Azioni</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SaleReservations)
        {
            <tr>
                <td>@item.IdPrenotazione</td>
                <td>@item.EmailUtente</td>
                <td>@item.NomeSala</td>
                <td>@item.Biblioteca</td>
                <td>@item.DataPrenotazione.ToString("dd/MM/yyyy")</td>
                <td>@item.GiornoPrenotato.ToString("dd/MM/yyyy")</td>
                <td>@item.OraInizio</td>
                <td>@item.OraFine</td>
                <td>@item.Stato</td>
                <td>
                    @using (Html.BeginForm("CancellaPrenotazioneSala", "AdminDashboard", FormMethod.Post))
                    {
                        @Html.Hidden("idPrenotazione", item.IdPrenotazione)
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Sei sicuro di voler cancellare questa prenotazione?');">Cancella</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
